body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 8px 128px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    gap: 18px;

}

.first {
    background-color: #1f2937;
    display: flex;
    padding: 64px 128px;
    gap: 24px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;

}

.hero-button {
    font-size: 14px;
    color: white;
    background-color: #3882f6;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;

}

.first-placeholder {
    background-color: #e5e7eb;
    width: 480px;
    height: 280px;
    flex-shrink: 0;
}